{port_env,
 [{"darwin", "LDFLAGS", "-framework CoreFoundation -framework CoreServices"},
  {"darwin", "CC", "clang"},
  {"darwin", "CFLAGS", "-Wno-deprecated-declarations"},
  {"freebsd", "LDFLAGS", ""},
  {"freebsd", "CC", "cc"},
  {"freebsd", "CFLAGS", ""}]
}.

{hex, [{doc, edoc}]}.

{port_specs,
 [{"darwin", "priv/mac_listener", ["c_src/mac/*.c"]}]}.

{plugins, [{pc, "1.15.0"}]}.
{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

